.slick-slide {
    height: 280px;
}

.slick-slide img {
    width: 232px;
    height: 232px;
}

.slick-prev,
.slick-next {

    background-color: #000000;
    color: #ffffff;
    border: 1px solid #4a4a4a;
}

.slick-prev:hover,
.slick-prev:focus,
.slick-next:hover,
.slick-next:focus {
    background-color: #888888;
}

